<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Completed Tasks</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="/completed.css" />
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="title">
                <h1>Completed Tasks</h1>
            </div>
            <div class="menu">
                <a href="/">Home</a> |
                <a href="/tasks">Todo List</a> |
                <a href="/">Completed</a>
            </div>
        </nav>

        <% for (let task of tasks) { %>
        <div class="content">
            <ul class="list-group">

                <li class="list-group-item">
                        
                    <h3><i class="material-icons">check_circle_outline</i> <%= task.name %></h3>
                    <form action="/task/destroy/<%= task.id %>" method="POST">
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </li>

                </ul>
        </div>
        <% } %>
    </body>
</html>