<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Todo App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" media="screen" href="/index.css" />
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="title">
                <h1>Welcome to the Todo List App</h1>
            </div>
            <div class="menu">
                <a href="/">Home</a> |
                <a href="/tasks">Todo List</a> |
                <a href="/tasks/completed">Completed</a>
            </div>
        </nav>

        <br><br>

        <form action="/tasks/new" method="POST">
            <div class="form-group">
                <h2>Add a new Task</h2>
                <label>Task</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" name="info">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </body>
</html>